
@{
    ViewBag.Title = "Task2";
}

<div class="container">
    <h2 class="mb-4 text-center">ASP.NET MVC Action Results Demo</h2>

    <div class="list-group">
        <a href="@Url.Action("ContentResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            Content Result (Displays Simple Text)
        </a>
        <a href="@Url.Action("FileResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            File Result (Downloads SampleText.txt)
        </a>
        <a href="@Url.Action("EmptyResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            Empty Result (No Output)
        </a>
        <button id="runScript" class="list-group-item list-group-item-action">
            JavaScript Result (Runs JS Alert)
        </button>
        <a href="@Url.Action("JsonResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            JSON Result (Returns JSON Object)
        </a>
        <a href="@Url.Action("RedirectResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            Redirect Result (Redirects to Bing)
        </a>
        <a href="@Url.Action("RedirectToRouteResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            Redirect To Route Result (Redirects to Content Result)
        </a>
        <a href="@Url.Action("ViewResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            View Result (Loads Another View)
        </a>
        <a href="@Url.Action("ActionResultDemo", "Home")" target="_blank" class="list-group-item list-group-item-action">
            Action Result (Parent of All Types)
        </a>
    </div>
</div>